@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

@font-face {
    font-family: Cyber;
    src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
    font-display: swap;
}
.header{
    background: #000300;
    h1{
        color: #FAFF00;
        font-family: Tomorrow, sans-serif;
    }
}

